[Unit]
Description=Tiny wayland / x11 session starter for single user machines

# replaces the getty
Conflicts=getty@tty1.service
After=getty@tty1.service dbus.socket

# Needs all the dependencies of the services it's replacing
# (currently getty@tty1.service):
After=rc-local.service plymouth-quit-wait.service systemd-user-sessions.service

# This scope is created by pam_systemd when logging in as the user.
# This directive is a workaround to a systemd bug, where the setup of the
# user session by PAM has some race condition, possibly leading to a failure.
# See README for more details.
After=session-c1.scope

OnFailure=getty@tty1.service

# Prevent starting on systems without virtual consoles
ConditionPathExists=/dev/tty0

[Service]
ExecStart=tinydm-run-session
User=1000
Group=1000
PAMName=login
WorkingDirectory=~
Restart=always
RestartSec=1s

# A virtual terminal is needed.
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes

# Fail to start if not controlling the tty.
StandardInput=tty-fail
StandardOutput=journal
StandardError=journal

# Log this user with utmp, letting it show up with commands 'w' and 'who'.
UtmpIdentifier=tty1
UtmpMode=user

[Install]
Alias=display-manager.service
