pkgbase = sxmo-utils
	pkgdesc = Utility scripts, programs, and configs that hold the sxmo UI environment together
	pkgver = 1.16.3
	pkgrel = 1
	url = https://git.sr.ht/~mil/sxmo-utils
	install = sxmo-utils.install
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = AGPL3
	makedepends = libx11
	makedepends = xorgproto
	makedepends = linux-headers
	makedepends = busybox
	makedepends = scdoc
	makedepends = git
	source = git+https://git.sr.ht/~mil/sxmo-utils#tag=1.16.3
	source = 0001-avoid-conflicting-with-systemd-services.patch
	source = 0002-Partially-revert-7a77851c.patch
	source = 00-sxmo.rules
	source = 10-sxmo.conf
	sha512sums = db923a70658862106b34ed2c81c1335e41c8857b3216fd7e64ea6e594a1feef670451968946dc45bea8dd6c7e8bfbe3ecd944f85c0bddddf3f1f5700b1664f04
	sha512sums = 2a11f00fa5f508a0a5af3fb28730317de1cc99bb340ef724e5566aaa9bccec44563da3094028e8f447db63500bbedf46c25c1db250abf771f2e3549038e59224
	sha512sums = d327fcc2abdc25889f650d7c47a6b9cc67e85539954b45d4097ff9bffb75133244ea8b0d96339f9c3280a544395dcc9b96d59c6a9a117b7f685afe5123d377eb
	sha512sums = d705fc9611716a73c89da94bf3abc9292e9069bc994b0bd097159f4babd83d4693d5cc3e42336739ac46a8c6b4a0f39d077047202901dc5066df75e597450fa7
	sha512sums = b69a09f98f8a5cad8164cd48c5f6a78f2ce0e9818fb77ccf2a3e243cd0f2023e438022b20aad9e6b5edd90e1bb862326db79dc423630682d4c43e897090d3da1

pkgname = sxmo-utils
	depends = bc
	depends = curl
	depends = gawk
	depends = jq
	depends = less
	depends = net-tools
	depends = pnc
	depends = callaudiod
	depends = opendoas
	depends = geoclue
	depends = iio-utils
	depends = inotify-tools
	depends = mmsd-tng
	depends = mnc
	depends = modemmanager
	depends = ncurses
	depends = networkmanager
	depends = superd
	depends = vvmd
	depends = xdg-user-dirs
	depends = alsa-utils
	depends = bluez
	depends = bluez-utils
	depends = libpulse
	depends = pulse-native-provider
	depends = brightnessctl
	depends = conky
	depends = dunst
	depends = libnotify
	depends = lisgd
	depends = mpv
	depends = sxmo-ui
	depends = ttf-dejavu-nerd
	depends = upower
	optdepends = bemenu-ncurses: sxmo menus over ssh
	optdepends = bonsai: better multikey script
	optdepends = clickclack: haptic feedback
	optdepends = codemadness-frontends: Youtube & Reddit scripts
	optdepends = j4-dmenu-desktop: all apps menu generated from .desktop files
	optdepends = mediainfo: sound recorder
	optdepends = pipewire-pulse: recommended sound server
	optdepends = sfeed: Rss and atom feeds
	optdepends = vim: The default editor
	optdepends = yt-dlp: Play videos from the web
	backup = etc/doas.conf

pkgname = sxmo-utils-sway
	pkgdesc = Use sway as the window manager with sxmo
	url = https://sr.ht/~mil/sxmo/
	install = 
	arch = any
	depends = bemenu-wayland
	depends = foot
	depends = grim
	depends = imv
	depends = mako
	depends = slurp
	depends = sway
	depends = swaybg
	depends = swayidle
	depends = wl-clipboard
	depends = wob
	depends = wtype
	depends = wvkbd
	depends = xorg-xwayland
	provides = sxmo-ui
	replaces = sxmo-ui-sway-meta

pkgname = sxmo-utils-dwm
	pkgdesc = Packages required to use dwm as a ui for sxmo
	url = https://sr.ht/~mil/sxmo/
	install = 
	arch = any
	depends = autocutsel
	depends = feh
	depends = scrot
	depends = svkbd
	depends = sxiv
	depends = sxmo-dmenu
	depends = sxmo-dwm
	depends = sxmo-st
	depends = unclutter
	depends = xcalib
	depends = xclip
	depends = xdotool
	depends = xob
	depends = xorg-xdpyinfo
	depends = xorg-xinput
	depends = xorg-xprop
	depends = xorg-xrandr
	depends = xorg-xrdb
	depends = xorg-xset
	depends = xorg-xsetroot
	depends = xorg-xwininfo
	depends = xprintidle
	depends = xsel
	provides = sxmo-ui
	replaces = sxmo-ui-dwm-meta
