pkgbase = eg25-manager
	pkgdesc = Daemon for managing the Quectel EG25 modem
	pkgver = 0.5.2
	pkgrel = 1
	url = https://gitlab.com/mobian1/devices/eg25-manager
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = meson
	makedepends = ninja
	makedepends = scdoc
	makedepends = git
	makedepends = glib2-devel
	depends = libgudev
	depends = libgpiod>=2.0
	depends = libusb
	depends = libmm-glib
	optdepends = modemmanager: for Phosh and Plasma Mobile
	replaces = danctnix-eg25-misc
	source = git+https://gitlab.com/mobian1/devices/eg25-manager.git#tag=0.5.2
	sha256sums = b1ed18d54658ade732d4f6bb59f5ee41c4d258ab85bc62306be67e6a932f0125

pkgname = eg25-manager
