[Unit]
Description=Audio routing for Quectel EG25 Modem
Before=ofono.service ModemManager.service
After=eg25_power.service

[Service]
Type=oneshot
ExecStart=/usr/lib/danctnix/eg25/eg25_audio_routing.sh

[Install]
WantedBy=multi-user.target
