[submodule "PKGBUILDS/danctnix/qt5-es2-declarative"]
	path = PKGBUILDS/danctnix/qt5-es2-declarative
	url = https://gitlab.manjaro.org/manjaro-arm/packages/extra/qt5-es2-declarative.git
[submodule "PKGBUILDS/danctnix/qt5-es2-base"]
	path = PKGBUILDS/danctnix/qt5-es2-base
	url = https://gitlab.manjaro.org/manjaro-arm/packages/extra/qt5-es2-base.git
[submodule "PKGBUILDS/danctnix/qt5-es2-multimedia"]
	path = PKGBUILDS/danctnix/qt5-es2-multimedia
	url = https://gitlab.manjaro.org/manjaro-arm/packages/extra/qt5-es2-multimedia.git
[submodule "PKGBUILDS/danctnix/qt5-es2-wayland"]
	path = PKGBUILDS/danctnix/qt5-es2-wayland
	url = https://gitlab.manjaro.org/manjaro-arm/packages/extra/qt5-es2-wayland.git
[submodule "PKGBUILDS/danctnix/ofono"]
	path = PKGBUILDS/danctnix/ofono
	url = https://gitlab.manjaro.org/manjaro-arm/packages/community/plasma-mobile/ofono.git
