pkgbase = phoc
	pkgdesc = wlroots based Wayland compositor for mobile phones
	pkgver = 0.44.1
	pkgrel = 1
	url = https://phosh.mobi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = LGPL-2.1-or-later AND GPL-3.0-or-later AND MIT AND (GPL-3.0-or-later or MIT)
	checkdepends = xorg-server-xvfb
	makedepends = gi-docgen
	makedepends = glib2-devel
	makedepends = glslang
	makedepends = meson
	makedepends = python-docutils
	makedepends = vulkan-headers
	depends = gobject-introspection
	depends = gnome-desktop
	depends = libglvnd
	depends = libgmobile
	depends = libinput
	depends = libliftoff
	depends = libxcb
	depends = mutter
	depends = seatd
	depends = xcb-util-errors
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = wayland-protocols
	source = https://sources.phosh.mobi/releases/phoc/phoc-0.44.1.tar.xz
	source = https://sources.phosh.mobi/releases/phoc/phoc-0.44.1.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	b2sums = 49e5782aedba3aba25e1bc2647b89d1e083fcfd2c77828a8816eef538dc1967d5ef1d407a029dcf92c26ef7ee97b9d0c7198bea906f1b5344ac193e6024a9b4b
	b2sums = SKIP

pkgname = phoc
