pkgbase = phoc
	pkgdesc = wlroots based Wayland compositor for mobile phones
	pkgver = 0.43.0
	pkgrel = 1
	url = https://phosh.mobi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = LGPL-2.1-or-later AND GPL-3.0-or-later AND MIT AND (GPL-3.0-or-later or MIT)
	checkdepends = xorg-server-xvfb
	makedepends = gi-docgen
	makedepends = glib2-devel
	makedepends = glslang
	makedepends = meson
	makedepends = python-docutils
	makedepends = vulkan-headers
	depends = gobject-introspection
	depends = gnome-desktop
	depends = libglvnd
	depends = libgmobile
	depends = libinput
	depends = libliftoff
	depends = libxcb
	depends = mutter
	depends = seatd
	depends = xcb-util-errors
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = wayland-protocols
	source = https://sources.phosh.mobi/releases/phoc/phoc-0.43.0.tar.xz
	source = https://sources.phosh.mobi/releases/phoc/phoc-0.43.0.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	b2sums = 4a89bd56ff1fff983d6f99d84165bae0e2a0a629582386724cacf92d29905925b67bbab62d2ba047534ad343375137a4f6eb4faa51bf52127a3ca9819138466e
	b2sums = SKIP

pkgname = phoc
