pkgbase = phoc
	pkgdesc = wlroots based Wayland compositor for mobile phones
	pkgver = 0.42.1
	pkgrel = 1
	url = https://phosh.mobi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = LGPL-2.1-or-later AND GPL-3.0-or-later AND MIT AND (GPL-3.0-or-later or MIT)
	checkdepends = xorg-server-xvfb
	makedepends = gi-docgen
	makedepends = glib2-devel
	makedepends = glslang
	makedepends = meson
	makedepends = python-docutils
	makedepends = vulkan-headers
	depends = gobject-introspection
	depends = gnome-desktop
	depends = libglvnd
	depends = libgmobile
	depends = libinput
	depends = libliftoff
	depends = libxcb
	depends = mutter
	depends = seatd
	depends = xcb-util-errors
	depends = xcb-util-renderutil
	depends = xcb-util-wm
	depends = wayland-protocols
	source = https://sources.phosh.mobi/releases/phoc/phoc-0.42.1.tar.xz
	source = https://sources.phosh.mobi/releases/phoc/phoc-0.42.1.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	sha256sums = b50cb2311f2edada54702933c206785fce350b02fcd332a9cc2ebd5338311144
	sha256sums = SKIP

pkgname = phoc
