pkgbase = danctnix-sxmo-ui-meta
	pkgdesc = Sxmo: Simple X Mobile - A Pinephone UI that is simple and suckless
	pkgver = 1.6.0
	pkgrel = 2
	url = https://sr.ht/~mil/sxmo/
	arch = any
	license = MIT
	depends = danctnix-sxmo-settings
	depends = dnsmasq
	depends = polkit
	depends = sxmo-utils
	replaces = sxmo-alarm

pkgname = danctnix-sxmo-ui-meta
