pkgbase = device-pine64-pinetab2
	pkgdesc = PineTab 2 device package
	pkgver = 0.2
	pkgrel = 4
	url = https://github.com/dreemurrs-embedded/Pine64-Arch
	install = device-pine64-pinetab2.install
	arch = aarch64
	license = MIT
	depends = bes2600-firmware
	depends = linux-pinetab2
	depends = uboot-pinetab2
	source = machine-info
	source = gsk-renderer-gl.sh
	source = kscreen-b5350822fc24a835e633b5bf90f2b56d
	source = kscreen-outputs-b5350822fc24a835e633b5bf90f2b56d
	source = phoc.ini
	md5sums = bf6d4aa77990277b73ab139d1e8fea09
	md5sums = f81b3527b3a47df6253263001f059bff
	md5sums = cd17d8d80b01d88f7ec2a948f3398dff
	md5sums = 2818ea269586a19b26df60ef43ba8e98
	md5sums = ecd8742a921d805e6756abc522da1dba

pkgname = device-pine64-pinetab2
