[Unit]
Description=Multimedia Messaging Service Daemon
After=ModemManager.service

[Service]
ExecStart=/usr/bin/mmsdtng -d

Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
