pkgbase = spacebar
	pkgdesc = SMS and messaging application for Mobile Devices running Plasma
	pkgver = 24.05.0
	pkgrel = 3
	url = https://community.kde.org/Plasma/Mobile
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-2.0-only OR GPL-3.0-only
	makedepends = cmake
	makedepends = extra-cmake-modules
	depends = c-ares
	depends = futuresql-qt6
	depends = kconfig
	depends = kcoreaddons
	depends = kcontacts
	depends = kdbusaddons
	depends = ki18n
	depends = kio
	depends = kirigami
	depends = kirigami-addons
	depends = knotifications
	depends = kpeople
	depends = kwindowsystem
	depends = libphonenumber
	depends = modemmanager-qt
	depends = qcoro-qt6
	depends = qt6-declarative
	source = http://download.kde.org/stable/spacebar/spacebar-24.05.0.tar.xz
	source = 7af4c57fa4841377d723799c55e4d35226dffd00.patch
	sha256sums = 1ab34a700ff3f97af0bcc9cb97fbd03bbc5a41ea4ff40144ad1ed9e30584f3f5
	sha256sums = be80ea1aed714b38c41a4adb5b670cfa4c8791ca2f52925e7f985676226da8ad

pkgname = spacebar
