pkgbase = feedbackd
	pkgdesc = A daemon to provide haptic, led and audio feedback triggered by application events
	pkgver = 0.6.0
	pkgrel = 2
	url = https://source.puri.sm/Librem5/feedbackd
	install = feedbackd.install
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later AND LGPL-2.1-or-later
	checkdepends = umockdev
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	makedepends = vala
	depends = gobject-introspection
	depends = gsound
	depends = json-glib
	depends = libgmobile
	depends = libgudev
	source = https://source.puri.sm/Librem5/feedbackd/-/archive/v0.6.0/feedbackd-v0.6.0.tar.gz
	source = https://source.puri.sm/Librem5/feedbackd-device-themes/-/archive/v0.4.0/feedbackd-device-themes-v0.4.0.tar.gz
	source = fbd-sysusers.conf
	md5sums = acbda6c5a7d74fa8c70e36cb3614a56b
	md5sums = 63e56a4b2089ff59ea9cd4eaefbb7578
	md5sums = 44215bf5d7527f249e282408cf1d40db

pkgname = feedbackd
