pkgbase = phosh-mobile-settings
	pkgdesc = Phosh-specific settings app
	pkgver = 0.43.0
	pkgrel = 1
	url = https://phosh.mobi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	makedepends = python-packaging
	makedepends = wayland-protocols
	depends = gtk4
	depends = gsound
	depends = libadwaita
	depends = libgmobile
	depends = lm_sensors
	depends = phosh
	depends = wayland
	source = https://sources.phosh.mobi/releases/phosh-mobile-settings/phosh-mobile-settings-0.43.0.tar.xz
	source = https://sources.phosh.mobi/releases/phosh-mobile-settings/phosh-mobile-settings-0.43.0.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	b2sums = 29f15d9f1bb6717f49c604a2fd802d1e595d376d31c44011255a381e4ba744bf0409c2a6d105c647de3182c7cdd050de5f0a1a50b3cae51ff97300ec35796267
	b2sums = SKIP

pkgname = phosh-mobile-settings
