pkgbase = plasma-nano
	pkgdesc = A minimal plasma shell package intended for embedded devices.
	pkgver = 6.2.5
	pkgrel = 1
	url = https://invent.kde.org/plasma/plasma-nano
	arch = x86_64
	arch = i686
	arch = i486
	arch = pentium4
	arch = arm
	arch = armv6h
	arch = armv7h
	arch = aarch64
	license = GPL-2.0-or-later
	makedepends = cmake
	makedepends = extra-cmake-modules
	depends = plasma-workspace
	depends = kwindowsystem
	depends = ki18n
	depends = kservice
	depends = kitemmodels
	depends = qt6-svg
	source = https://download.kde.org/stable/plasma/6.2.5/plasma-nano-6.2.5.tar.xz
	source = https://download.kde.org/stable/plasma/6.2.5/plasma-nano-6.2.5.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	sha256sums = 733401ec743684f59dad219ad7eb9c156dd730b8e1726bf5580d879489df1ac9
	sha256sums = SKIP

pkgname = plasma-nano
