pkgbase = squeekboard
	pkgdesc = An on-screen-keyboard input method for Wayland
	pkgver = 1.43.0
	pkgrel = 1
	url = https://gitlab.gnome.org/World/Phosh/squeekboard
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = glib2-devel
	makedepends = meson
	makedepends = ninja
	makedepends = python-packaging
	makedepends = rust
	depends = feedbackd
	depends = glib2
	depends = gnome-desktop
	depends = gtk3
	depends = libbsd
	depends = wayland-protocols
	source = https://gitlab.gnome.org/World/Phosh/squeekboard/-/archive/v1.43.0/squeekboard-v1.43.0.tar.gz
	b2sums = ebbf3408bfe7b32c2fdbd256ebc51938393d23eca8b4ecd73dc3a16472e25bfd4aa8751f8b7f380c3d300becdb52182177b09683b51ecd551b900e4b1a9fcb9f

pkgname = squeekboard
