[Unit]
Description=Hide bootsplash during offline update
After=system-update-pre.target
Before=system-update.target
DefaultDependencies=no
ConditionPathExists=/sys/devices/platform/bootsplash.0/enabled
ConditionPathExists=!/run/ostree-booted

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'exec /bin/echo off > /sys/devices/platform/bootsplash.0/enabled'
