pkgbase = gnome-calls
	pkgdesc = Phone dialer and call handler
	pkgver = 47.0
	pkgrel = 1
	url = https://gitlab.gnome.org/GNOME/calls
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = appstream
	makedepends = git
	makedepends = glib2-devel
	makedepends = meson
	makedepends = python-docutils
	makedepends = vala
	depends = callaudiod
	depends = dconf
	depends = evolution-data-server
	depends = feedbackd
	depends = folks
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = gom
	depends = gstreamer
	depends = gtk4
	depends = hicolor-icon-theme
	depends = libadwaita
	depends = libgee
	depends = libmm-glib
	depends = libpeas-2
	depends = libsecret
	depends = sofia-sip
	source = git+https://gitlab.gnome.org/GNOME/calls.git?signed#tag=v47.0
	source = git+https://gitlab.gnome.org/World/Phosh/libcall-ui.git
	validpgpkeys = B9386554B7DD266BCB8E29A990F0C9B18A6B4A19
	b2sums = c5414f48e994c03fdfb48a0a61185d10dfc85cf6ed65a834c83a48bdefadb3f320c8dda3790024a2def7a99dac6152b5d672291af375cd56714143d8151f0d1c
	b2sums = SKIP

pkgname = gnome-calls
