pkgbase = plasma-mobile
	pkgdesc = Plasma shell for mobile devices
	pkgver = 6.2.4
	pkgrel = 1
	url = https://community.kde.org/Plasma/Mobile
	install = plasma-mobile.install
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-2.0-or-later AND LGPL-2.1-or-later
	makedepends = cmake
	makedepends = extra-cmake-modules
	depends = bluez-qt
	depends = libplasma
	depends = kirigami-addons
	depends = milou
	depends = plasma-nano
	depends = plasma-nm
	depends = plasma-pa
	depends = plasma-workspace=6.2.4
	optdepends = hfd-service: Haptic feedback
	replaces = plasma-phone-components
	source = https://download.kde.org/stable/plasma/6.2.4/plasma-mobile-6.2.4.tar.xz
	source = https://download.kde.org/stable/plasma/6.2.4/plasma-mobile-6.2.4.tar.xz.sig
	validpgpkeys = E0A3EB202F8E57528E13E72FD7574483BB57B18D
	sha512sums = bfa01173055494da87ad06e4c3f7783cc312916b4a55cdc3928b38e304e3d7cf773bea23abf603ae76fc4c9ee86915ea57a8d067981166cd1a7922a19e0dfe6a
	sha512sums = SKIP

pkgname = plasma-mobile
