# systemd service file for usb-tethering

[Unit]
Wants=dhcpd4.service
Description=USB Tethering

[Service]
Type=oneshot
ExecStart=/bin/bash /usr/lib/danctnix/usb-tethering

[Install]
WantedBy=multi-user.target
