[Desktop Entry]
Version=1.0
Name[bg]=Преглед на улеснените услуги с Avahi
Name[ca]=Eina d'exploració de Zeroconf de l'Avahi
Name[cs]=Avahi Zeroconf Prohlížeč
Name[da]=Avahi Zeroconf-browser
Name[de]=Avahi Zeroconf Browser
Name[el]=Περιηγητής Avahi Zeroconf
Name[en_GB]=Avahi Zeroconf Browser
Name[en_NZ]=Avahi Zeroconf Browser
Name[es]=Navegador Zeroconf de Avahi
Name[et]=Avahi Zeroconf brauser
Name[fa]=Avahi مرورگر Zeroconf
Name[fi]=Avahin Zeroconf-selain
Name[fo]=Avahi Zeroconf kagi
Name[fr]=Explorateur Zeroconf d'Avahi
Name[gl]=Navegador Zeroconf de Avahi
Name[he]=סייר ה־Zeroconf של ‏Avahi
Name[hu]=Avahi Zeroconf-böngésző
Name[id]=Peramban Zeroconf Avahi
Name[it]=Esploratore Zeroconf Avahi
Name[ja]=Avahi Zeroconf ブラウザ
Name[lv]=Avahi Zeroconf pārlūks
Name[nl]=Avahi zeroconf browser
Name[oc]=Explorador Zeroconf d'Avahi
Name[pl]=Przeglądarka Zeroconf Avahi
Name[pt_BR]=Navegador Zeroconf do Avahi
Name[ro]=Navigator Avahi Zeroconf
Name[ru]=Обозреватель Avahi Zeroconf
Name[sk]=Avahi - prieskumník služieb Zeroconf
Name[sl]=Brskalnik Avahi Zeroconf
Name[sr]=Авахијев Зероконф прегледник
Name[sr@latin]=Avahijev Zerokonf preglednik
Name[sv]=Avahi Zeroconf-bläddrare
Name[tr]=Avahi Zeroconf Tarayıcı
Name[uk]=Переглядач Zeroconf Avahi
Name[zh_CN]=Avahi Zeroconf 浏览器
Name[zh_TW]=Avahi Zeroconf 瀏覽器
Name=Avahi Zeroconf Browser
Comment[ar]=خدمة التصفح Zeroconf متاحة على الشبكة
Comment[bg]=Преглед на улеснените услуги (Zeroconf) в мрежата ви
Comment[ca]=Exploreu si hi ha disponibles serveis Zeroconf a la vostra xarxa
Comment[cs]=Procházet Zeroconf služeby dostupné na síti
Comment[da]=Find Zeroconf-tjenester på dit netværk
Comment[de]=Durchsuchen nach Zeroconf-aktivierten Diensten in Ihrem Netzwerk
Comment[el]=Εξερεύνηση υπηρεσιών Zeroconf που είναι διαθέσιμες στο δίκτυό σας
Comment[en_GB]=Browse for Zeroconf services available on your network
Comment[en_NZ]=Browse for Zeroconf services available on your network
Comment[es]=Navegar en busca de servicios Zeroconf disponibles en su red
Comment[et]=Sinu võrgus olevate Zeroconf teenuste sirvimine
Comment[fa]=خدمات Zeroconf موجود در شبکه‌تان را مرور کنید
Comment[fi]=Selaa verkossa saatavilla olevia Zeroconf-palveluita
Comment[fo]=Kaga eftir Zeroconf-tænastum, tøkar á tínum neti
Comment[fr]=Explorer les services Zeroconf disponibles sur votre réseau
Comment[gl]=Navegar na busca de servizos Zeroconf dispoñíbeis na súa rede
Comment[he]=סיור אחר שירותי Zeroconf הזמינים ברשת שלך
Comment[hu]=Zeroconf szolgáltatások keresése a hálózaton
Comment[id]=Ramban layanan Zeroconf yang tersedia pada jaringan Anda
Comment[it]=Esplora i servizi Zeroconf disponibili sulla propria rete
Comment[ja]=ネットワーク上の利用可能な Zeroconf サービスを検索
Comment[lv]=Pārlūkot Zeroconf pakalpojumus, kas pieejami šajā tīklā
Comment[nl]=Browse voor Zeroconf services beschikbaar op jouw netwerk
Comment[oc]=Explorar los servicis Zeroconf disponibles sus vòstra ret
Comment[pl]=Przeglądanie usług Zeroconf dostępnych w sieci
Comment[pt_BR]=Procura por serviços Zeroconf disponíveis em sua rede
Comment[ro]=Descoperă serviciile Zeroconf disponibile în rețeaua dumneavoastră.
Comment[ru]=Поиск служб Zeroconf в локальной сети
Comment[sk]=Preskúma služby typu Zeroconf dostupné vo vašej sieti
Comment[sl]=Brskanje med razpoložljivimi storitvami Zeroconf v omrežju
Comment[sr]=Прегледам доступне Зероконф услуге на вашој мрежи
Comment[sr@latin]=Pregledam dostupne Zerokonf usluge na vašoj mreži
Comment[sv]=Bläddra efter Zeroconf-tjänster tillgängliga på ditt nätverk
Comment[tr]=Ağınızda kullanılabilir Zeroconf hizmetlerine gözatın
Comment[uk]=Переглянути служби Zeroconf, доступ до яких можна отримати у вашій мережі
Comment[zh_CN]=浏览网络内可用的 Zeroconf 服务
Comment[zh_TW]=在您的網路上瀏覽可用的 Zeroconf 服務
Comment=Browse for Zeroconf services available on your network
Exec=/usr/bin/avahi-discover
Terminal=false
Type=Application
Icon[hu]=network-wired
Icon[pl]=network-wired
Icon[pt_BR]=network-wired
Icon=network-wired
Categories=GNOME;System;
StartupNotify=false
NoDisplay=true
