[Desktop Entry]
Version=1.0
Name[bg]=Преглед с Avahi на сървърите за SSH
Name[ca]=Eina d'exploració de servidors de SSH de l'Avahi
Name[da]=Browser til Avahi SSH-server
Name[de]=Avahi SSH-Server-Browser
Name[el]=Avahi περιηγητής εξυπηρετητών SSH
Name[en_GB]=Avahi SSH Server Browser
Name[en_NZ]=Avahi SSH Server Browser
Name[es]=Examinador de servidores SSH de Avahi
Name[et]=Avahi SSH serverite brauser
Name[fi]=Avahin SSH-palvelinselain
Name[fo]=Avahi SSH-tænastu kagi
Name[fr]=Explorateur de serveur SSH Avahi
Name[gl]=Navegador de servidores SSH de Avahi
Name[hu]=Avahi SSH-kiszolgálóböngésző
Name[id]=Peramban Server SSH Avahi
Name[it]=Esploratore Avahi per server SSH
Name[ja]=Avahi SSH サーバの検索
Name[lv]=Avahi SSH serveru pārlūks
Name[nl]=Avahi SSH server browser
Name[oc]=Explorador de servidor SSH Avahi
Name[pl]=Przeglądarka serwerów SSH Avahi
Name[pt_BR]=Navegador de servidores SSH do Avahi
Name[ro]=Navigator de servere SSH Avahi
Name[ru]=Навигатор Avahi по серверам SSH
Name[sk]=Avahi - prieskumník SSH serverov
Name[sl]=Avahi brskalnik strežnika SSH
Name[sr]=Прегледник Авахијевог сервера безбедне шкољке
Name[sr@latin]=Preglednik Avahijevog servera bezbedne školjke
Name[sv]=Avahi SSH-serverbläddrare
Name[tr]=Avahi SSH Sunucu Tarayıcısı
Name[uk]=Переглядач серверів SSH Avahi
Name[zh_CN]=Avahi SSH 服务器的浏览器
Name[zh_TW]=Avahi SSH 伺服器瀏覽器
Name=Avahi SSH Server Browser
Comment[bg]=Преглед на сървърите за SSH с улеснение
Comment[ca]=Exploreu si hi ha servidors de SSH amb Zeroconf habilitat
Comment[da]=Find Zeroconf-aktiverede SSH-servere
Comment[de]=Durchsuchen nach Zeroconf-aktivierten SSH-Servern
Comment[el]=Εξερεύνηση για εξυπηρετητές SSH με ενεργοποιημένο Zeroconf
Comment[en_GB]=Browse for Zeroconf-enabled SSH Servers
Comment[en_NZ]=Browse for Zeroconf-enabled SSH Servers
Comment[es]=Examinar servidores SSH con zeroconf activado
Comment[et]=Zeroconf toega SSH serverite sirvimine
Comment[fi]=Selaa Zeroconf-varustettuja SSH-palvelimia
Comment[fo]=Kaga eftir Zeroconf-virkjaðum SSH-ambætarum
Comment[fr]=Explorer les serveurs SSH avec Zeroconf activé
Comment[gl]=Navegar por servidores SSH con Zeroconf activado
Comment[hu]=Zeroconf-képes SSH kiszolgálók keresése
Comment[id]=Meramban Server SSH Teraktifkan-Zeroconf
Comment[it]=Esplora i server SSH con Zeroconf abilitato
Comment[ja]=Zeroconf を有効にした SSH サーバを検索
Comment[lv]=Pārlūkot Zeroconf aktivētus SSH serverus
Comment[nl]=Browse voor Zeroconf-enabled SSH servers
Comment[oc]=Explorar los servidors SSH amb Zeroconf activat
Comment[pl]=Przeglądanie serwerów SSH z włączonym Zeroconf
Comment[pt_BR]=Procurar por servidores SSH com o Zeroconf habilitado
Comment[ro]=Navighează servere SSH având activat Zeroconf
Comment[ru]=Просмотр списка серверов SSH с включённой службой Zeroconf
Comment[sk]=Preskúma SSH servery s povolenou službou Zeroconf
Comment[sl]=Brskanje med omogočenimi strežniki Zeroconf SSH
Comment[sr]=Потражите сервере безбедне шкољке са укљученим Зероконфом
Comment[sr@latin]=Potražite servere bezbedne školjke sa uključenim Zerokonfom
Comment[sv]=Bläddra efter Zeroconf-aktiverade SSH-servrar
Comment[tr]=Sıfır yapılandırma uyumlu SSH Sunucularını Tara
Comment[uk]=Перегляд серверів SSH з увімкненим Zeroconf
Comment[zh_CN]=浏览启用了 Zeroconf 的 SSH 服务器
Comment[zh_TW]=瀏覽啟用 Zeroconf 的 SSH 伺服器
Comment=Browse for Zeroconf-enabled SSH Servers
Exec=/usr/bin/bssh
Terminal=false
Type=Application
Icon[hu]=network-wired
Icon[pl]=network-wired
Icon[pt_BR]=network-wired
Icon=network-wired
Categories=GNOME;Network;
StartupNotify=false
NoDisplay=true
