[Desktop Entry]
Version=1.0
Name[bg]=Преглед с Avahi на сървърите за VNC
Name[ca]=Eina d'exploració de servidors de VNC de l'Avahi
Name[da]=Browser til Avahi VNC-server
Name[de]=Avahi VNC-Server-Browser
Name[el]=Avahi περιηγητής εξυπηρετητών VNC
Name[en_GB]=Avahi VNC Server Browser
Name[en_NZ]=Avahi VNC Server Browser
Name[es]=Examinador de servidores VNC de Avahi
Name[et]=Avahi VNC serverite brauser
Name[fi]=Avahin VNC-palvelinselain
Name[fo]=Avahi VNC-tænastu kagi
Name[fr]=Explorateur de serveurs VNC Avahi 
Name[gl]=Navegador de servidores VNC de Avahi
Name[hu]=Avahi VNC-kiszolgálóböngésző
Name[id]=Peramban Server VNC Avahi
Name[it]=Esploratore Avahi per server VNC
Name[ja]=Avahi VNC サーバの検索
Name[lv]=Avahi VNC serveru pārlūks
Name[nl]=Avahi VNC server browser
Name[oc]=Explorador de servidors VNC Avahi 
Name[pl]=Przeglądarka serwerów VNC Avahi
Name[pt_BR]=Navegador de servidores VNC do Avahi
Name[ro]=Navigator Avahi de server VNC
Name[ru]=Навигатор Avahi по серверам VNC
Name[sk]=Avahi - prieskumník VNC serverov
Name[sl]=Avahi brskalnik strežnika VNC
Name[sr]=Прегледник Авахијевог ВНЦ сервера
Name[sr@latin]=Preglednik Avahijevog VNC servera
Name[sv]=Avahi VNC-serverbläddrare
Name[tr]=Avahi VNC Sunucu Tarayıcısı
Name[uk]=Переглядач серверів VNC Avahi
Name[zh_CN]=Avahi VNC 服务器的浏览器
Name[zh_TW]=Avahi VNC 伺服器瀏覽器
Name=Avahi VNC Server Browser
Comment[bg]=Преглед на сървърите за VNC с улеснение
Comment[ca]=Exploreu si hi ha servidors de VNC amb Zeroconf habilitat
Comment[da]=Find Zeroconf-aktiverede VNC-servere
Comment[de]=Durchsuchen nach Zeroconf-aktivierten VNC-Servern
Comment[el]=Εξερεύνηση για εξυπηρετητές VNC με ενεργοποιημένο Zeroconf
Comment[en_GB]=Browse for Zeroconf-enabled VNC Servers
Comment[en_NZ]=Browse for Zeroconf-enabled VNC Servers
Comment[es]=Examinar servidores VNC con zeroconf activado
Comment[et]=Zeroconf toega VNC serverite sirvimine
Comment[fi]=Selaa Zeroconf-varustettuja VNC-palvelimia
Comment[fo]=Kaga eftir Zeroconf-virkjaðum VNC-ambætarum
Comment[fr]=Explorer les serveurs VNC avec Zeroconf activé
Comment[gl]=Navegar por servidores VNC con Zeroconf activado
Comment[hu]=Zeroconf-képes VNC kiszolgálók keresése
Comment[id]=Meramban Server VNC Teraktifkan-Zeroconf
Comment[it]=Esplora i server VNC con Zeroconf abilitato
Comment[ja]=Zeroconf を有効にした VNC サーバを検索
Comment[lv]=Pārlūkot Zeroconf aktivētus VNC serverus
Comment[nl]=Browse voor Zeroconf-enabled VNC servers
Comment[oc]=Explorar los servidors VNC amb Zeroconf activat
Comment[pl]=Przeglądanie serwerów VNC z włączonym Zeroconf
Comment[pt_BR]=Procurar por servidores VNC com Zeroconf habilitado
Comment[ro]=Navigheză serverele VNC având activat Zeroconf
Comment[ru]=Просмотр списка серверов VNC с включённой службой Zeroconf
Comment[sk]=Preskúma VNC servery s povolenou službou Zeroconf
Comment[sl]=Brskanje med omogočenimi strežniki Zeroconf VNC
Comment[sr]=Потражите ВНЦ сервере са укљученим Зероконфом
Comment[sr@latin]=Potražite VNC servere sa uključenim Zerokonfom
Comment[sv]=Bläddra efter Zeroconf-aktiverade VNC-servrar
Comment[tr]=Sıfır yapılandırma uyumlu VNC Sunucularını Tara
Comment[uk]=Перегляд серверів VNC з увімкненим Zeroconf
Comment[zh_CN]=浏览启用了 Zeroconf 功能的 VNC 服务器
Comment[zh_TW]=瀏覽啟用 Zeroconf 的 VNC 伺服器
Comment=Browse for Zeroconf-enabled VNC Servers
Exec=/usr/bin/bvnc
Terminal=false
Type=Application
Icon[hu]=network-wired
Icon[pl]=network-wired
Icon[pt_BR]=network-wired
Icon=network-wired
Categories=GNOME;Network;
StartupNotify=false
NoDisplay=true
