pkgbase = xdg-desktop-portal-phosh
	pkgdesc = Backend implementation for xdg-desktop-portal for Phosh mobile environment
	pkgver = 0.44.0
	pkgrel = 1
	url = https://phosh.mobi
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = glib2-devel
	makedepends = meson
	makedepends = rust
	depends = fontconfig
	depends = glib2
	depends = gnome-desktop-4
	depends = gtk4
	depends = libadwaita
	depends = xdg-desktop-portal
	source = https://sources.phosh.mobi/releases/xdg-desktop-portal-phosh/xdg-desktop-portal-phosh-0.44.0.tar.xz
	source = https://sources.phosh.mobi/releases/xdg-desktop-portal-phosh/xdg-desktop-portal-phosh-0.44.0.tar.xz.asc
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	b2sums = 2f51f11b48784325d76b1f5daa07cb67ae3769e722525362dcf44fa234be317f84b35f9ef2cd07f440391c7901da1967b271a0c45440966d6c4dce4c6fc3dbea
	b2sums = SKIP

pkgname = xdg-desktop-portal-phosh
