[Unit]
Description=PinePhone Keyboard USB Input Daemon

[Service]
Type=simple
ExecStart=/usr/bin/ppkb-usb-inputd
Restart=on-failure

[Install]
WantedBy=sysinit.target
