pkgbase = plasma-dialer
	pkgdesc = Phone Dialer for Plasma Mobile
	pkgver = 24.08.0
	pkgrel = 3
	url = https://community.kde.org/Plasma/Mobile
	install = plasma-dialer.install
	arch = aarch64
	arch = x86_64
	license = GPL3
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = kdoctools5
	makedepends = plasma-wayland-protocols
	depends = callaudiod
	depends = desktop-file-utils
	depends = kcontacts
	depends = kcoreaddons
	depends = kdbusaddons
	depends = ki18n
	depends = kio
	depends = kirigami-addons
	depends = knotifications
	depends = kpeople
	depends = libphonenumber
	depends = modemmanager-qt
	depends = qtmpris
	source = https://download.kde.org/stable/plasma-dialer/plasma-dialer-24.08.0.tar.xz
	md5sums = 133b5484197f6ce4d994f323dea5e5fb

pkgname = plasma-dialer
