pkgbase = sxmo-sway
	pkgdesc = This is a dummy package. It is no longer needed.
	pkgver = 1.8.1
	pkgrel = 99
	epoch = 1
	url = https://danctnix.org
	arch = any
	license = NONE
	depends = sway

pkgname = sxmo-sway
