pkgbase = megapixels
	pkgdesc = The Linux-phone camera application
	pkgver = 1.8.3
	pkgrel = 1
	url = https://gitlab.com/megapixels-org/Megapixels
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	makedepends = meson
	makedepends = ninja
	depends = feedbackd
	depends = glib2
	depends = gtk4
	depends = imagemagick
	depends = libraw
	depends = zbar
	optdepends = postprocessd: additional postprocess config
	replaces = pinhole
	replaces = gnome-camera
	source = https://gitlab.com/megapixels-org/Megapixels/-/archive/1.8.3/Megapixels-1.8.3.tar.gz
	source = 90-megapixels.rules
	sha256sums = 898d45ab6dce5ff532e8554b90045dc7be2682c32ac7d48573438c7827a34931
	sha256sums = c9ff69c5963f6231ac6a7de5adc3e0327f47b501de9b084b49546bfb00e7fc58

pkgname = megapixels
