[Unit]
Description=Poweron-Modem
After=ofono.service

[Service]
Type=simple
ExecStartPre=/usr/bin/sleep 15
ExecStart=/usr/bin/ofonoctl online
Restart=on-failure

[Install]
WantedBy=default.target
