pkgbase = linux-pinetab2
	pkgdesc = PineTab2
	pkgver = 6.12.6.danctnix1
	pkgrel = 1
	url = https://github.com/dreemurrs-embedded/linux-pinetab2/commits/v6.12.6-danctnix1
	arch = aarch64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.6.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.6.tar.sign
	source = https://github.com/dreemurrs-embedded/linux-pinetab2/releases/download/v6.12.6-danctnix1/v6.12.6-danctnix1.patch.zst
	source = https://github.com/dreemurrs-embedded/linux-pinetab2/releases/download/v6.12.6-danctnix1/v6.12.6-danctnix1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = F09A933C0FE0331E558CA4E166CAB7EAA45DD781
	b2sums = b1b992e1c03c095203a6aa8e529768c0af00fc89e1afbbcb56821465a9e78fb8f8ca19d038bc1f08c5286e1781b407d49775f28153572d3b9fe8d80b86d540bf
	b2sums = SKIP
	b2sums = 6c9bcfd017f45c38598996d45b0c21169b8cbc77e4f348c8b553829bbad2ed53583fc7cefc4884bc10a2345a7a81866f6417bc7751c5f4f4fc5cc6b06c802420
	b2sums = SKIP
	b2sums = 78daf956fe3b9f44554cf8eb9068cf5009bc340f306e6550e371e3b68e8d55d60690bf7c45e16bc512ea78d90b6b972a21fb3ac5bff25c69ebb07253b99c6308

pkgname = linux-pinetab2
	pkgdesc = The PineTab2 kernel and modules
	depends = coreutils
	depends = kmod
	depends = mkinitcpio
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = WIREGUARD-MODULE
	replaces = wireguard-arch

pkgname = linux-pinetab2-headers
	pkgdesc = Headers and scripts for building modules for the PineTab2 kernel
	depends = pahole
