pkgbase = linux-pinetab2
	pkgdesc = PineTab2
	pkgver = 6.12.5.danctnix1
	pkgrel = 1
	url = https://github.com/dreemurrs-embedded/linux-pinetab2/commits/v6.12.5-danctnix1
	arch = aarch64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.5.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.5.tar.sign
	source = https://github.com/dreemurrs-embedded/linux-pinetab2/releases/download/v6.12.5-danctnix1/v6.12.5-danctnix1.patch.zst
	source = https://github.com/dreemurrs-embedded/linux-pinetab2/releases/download/v6.12.5-danctnix1/v6.12.5-danctnix1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = F09A933C0FE0331E558CA4E166CAB7EAA45DD781
	b2sums = bca871f8ebc2b2d286c0d2fb8526aeff835aa9eb4af43c307dea08c9da31592310e3e103d3294152a7e011f8539629c0cec925d23cb635191cdd41da86babc29
	b2sums = SKIP
	b2sums = f26291290801e154f69df152644b52faf0c83675332c24708b32092b4e0b65b97d14c492a2ba088b3beb029cc9ba1799451b52e00e72d40fab9fb0766cf6e699
	b2sums = SKIP
	b2sums = 78daf956fe3b9f44554cf8eb9068cf5009bc340f306e6550e371e3b68e8d55d60690bf7c45e16bc512ea78d90b6b972a21fb3ac5bff25c69ebb07253b99c6308

pkgname = linux-pinetab2
	pkgdesc = The PineTab2 kernel and modules
	depends = coreutils
	depends = kmod
	depends = mkinitcpio
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = WIREGUARD-MODULE
	replaces = wireguard-arch

pkgname = linux-pinetab2-headers
	pkgdesc = Headers and scripts for building modules for the PineTab2 kernel
	depends = pahole
