pkgbase = linux-pinetab2
	pkgdesc = PineTab2
	pkgver = 6.12.9.danctnix1
	pkgrel = 1
	url = https://github.com/dreemurrs-embedded/linux-pinetab2/commits/v6.12.9-danctnix1
	arch = aarch64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.9.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.12.9.tar.sign
	source = https://github.com/dreemurrs-embedded/linux-pinetab2/releases/download/v6.12.9-danctnix1/v6.12.9-danctnix1.patch.zst
	source = https://github.com/dreemurrs-embedded/linux-pinetab2/releases/download/v6.12.9-danctnix1/v6.12.9-danctnix1.patch.zst.sig
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	validpgpkeys = F09A933C0FE0331E558CA4E166CAB7EAA45DD781
	b2sums = 2584e35822a429b6825bf8d99c073848d5ba83d45b382ab82d1caa36ccbf2529036b31d4687dafb29650c87f4b63489caa2cb67a85d05183c572dcad75a35ba8
	b2sums = SKIP
	b2sums = c32a95c9c1835fbfbbb4e101cb31e2d2c8760c9c6b4c4a3b98d5048b44e519613f850e0970ebadca2a9d240d95ffef51e1e14f30135c81054327798c3f49588a
	b2sums = SKIP
	b2sums = c101be21eed7db0db26fd139bcebd8484b323bb0fe428234104a91752f07e74142e260e37e6764c8abe59faee8bd480b46f2ab7905b51feb28bedefef7fd6d49

pkgname = linux-pinetab2
	pkgdesc = The PineTab2 kernel and modules
	depends = coreutils
	depends = kmod
	depends = mkinitcpio
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	provides = KSMBD-MODULE
	provides = WIREGUARD-MODULE
	replaces = wireguard-arch

pkgname = linux-pinetab2-headers
	pkgdesc = Headers and scripts for building modules for the PineTab2 kernel
	depends = pahole
