pkgbase = xob
	pkgdesc = A lightweight volume (or anything) bar for the X Window System
	pkgver = 0.3
	pkgrel = 1
	url = https://github.com/florentc/xob
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	depends = libconfig
	depends = libx11
	depends = libxrender
	backup = etc/xob/styles.cfg
	source = https://github.com/florentc/xob/archive/v0.3.tar.gz
	sha256sums = ab96717cff59cd0d3b42cbbc293cbd12f94d975584c47111717607779c155122

pkgname = xob
