pkgbase = phosh
	pkgdesc = Wayland shell for GNOME on mobile devices.
	pkgver = 0.44.0
	pkgrel = 1
	url = https://gitlab.gnome.org/World/Phosh/phosh
	install = phosh.install
	arch = x86_64
	arch = armv7h
	arch = aarch64
	license = GPL-3.0-or-later
	checkdepends = xorg-server-xvfb
	makedepends = gi-docgen
	makedepends = glib2-devel
	makedepends = meson
	makedepends = python-docutils
	makedepends = python-packaging
	makedepends = wayland-protocols
	depends = callaudiod
	depends = evince
	depends = evolution-data-server
	depends = feedbackd
	depends = gcr
	depends = gtk3
	depends = libadwaita
	depends = libcap
	depends = libgmobile
	depends = libhandy
	depends = libnm
	depends = libpulse
	depends = gnome-bluetooth-3.0
	depends = gnome-desktop
	depends = gnome-session
	depends = gnome-shell
	depends = phoc
	depends = squeekboard
	depends = upower
	source = https://sources.phosh.mobi/releases/phosh/phosh-0.44.0.tar.xz
	source = https://sources.phosh.mobi/releases/phosh/phosh-0.44.0.tar.xz.asc
	source = pam_phosh
	source = phosh.service
	validpgpkeys = 0DB3932762F78E592F6522AFBB5A2C77584122D3
	b2sums = e4c027694811177368ec13ac86bbf34c43c1b3b9af2fb6c6d217b171b7c3691c5786e8bb83d54be5fac4f2693304ea81bfe9527c52c11dd67dcd57e71860538f
	b2sums = SKIP
	b2sums = d89e16605e2e8e29834f9537bd09ef3f76f1cf6420cdd99346a760cab8c7217f86898be66c24b206b464239fc8b5277150abd19bae81af72187a435bd8c2f869
	b2sums = 5a769e4bda9c2c23cc386ac657dfb4267f130ee22644c3bf247f7373ee53afcf30d3086906e020d005e0b860742356f004cc5543bd1ed62fb82fb71d7e9b430e

pkgname = phosh
