[Unit]
Description=db.lck workaround before upgrading the system
After=system-update-pre.target
Before=system-update.target
DefaultDependencies=no
ConditionPathExists=/var/lib/pacman/db.lck

[Service]
Type=oneshot
ExecStart=/bin/rm /var/lib/pacman/db.lck
