[Unit]
Description=X-Window Display Manager
After=systemd-user-sessions.service

[Service]
ExecStart=/usr/bin/xdm -nodaemon -config /etc/X11/xdm/sxmo/xdm-config
Type=notify
NotifyAccess=all

[Install]
Alias=display-manager.service
